<%= include_my97 %>
<div class="box">
  <div class="cell">
    <%= build_navigation(@bread) %>
  </div>
  <div class="survey">
    <h1 class="center"><%= @survey.name %></h1>
    <div class="desc">
      <%= @survey.desc %>
    </div>
    <%= render "data" %>
  </div>
</div>
<% unless @can_edit %>
  <script type="text/javascript">
    $("input").attr("disabled", true);
    $(".sheet_submit").remove();
  </script>
<% end -%>  