<%= include_my97 %>
<div class="box">
  <div class="cell">
    <%= build_navigation(["健康问卷", @survey.name]) %>
  </div>
  <div class="survey">
    <h1 class="center"><%= @survey.name %></h1>
    <div class="desc">
      <%= @survey.desc %>
    </div>
    <%= form_for @survey_user_sheet, :html => {:multipart => true} do |f| %>
      <%= hidden_field_tag 'survey_id', @survey.id %>
      <% @survey_user_sheet.survey_user_answers.each_with_index do |survey_user_answer, index| %>
        <%= question_html(survey_user_answer, index + 1) %>
      <% end -%>
      <%= f.submit "提交" %>
    <% end -%>
  </div>
</div>