<%= include_my97 %>
<div class="box">
  <div class="cell">
    <%= build_navigation(["健康问卷", @survey.name]) %>
  </div>
  <div class="survey">
    <h1 class="center"><%= @survey.name %></h1>
    <div class="desc">
      <%= @survey.desc %>
    </div>
    <%= form_for @survey_user_sheet, :html => {:multipart => true} do |f| %>
      <%= hidden_field_tag 'survey_id', @survey.id %>
      <% @survey_questions.each_with_index do |survey_quetion, index| 
        survey_user_answer = @survey_user_sheet.survey_user_answer(survey_quetion.id)
      %>
        <%= question_html(survey_quetion, survey_user_answer, index + 1) %>
      <% end -%>
      <div class="tc m12"><%= f.submit "提交", :class => "btn btn-primary" %></div>
    <% end -%>
  </div>
</div>