<div class="box">
  <div class="cell">
    <div class="pull">
      <%= link_to '返回健康问卷管理', admin_surveys_path, :class => :btn %>
      <%= build_admin_navigation([@title]) %>
    </div>
  </div>
  <div class="cell">
    <%= simple_nested_form_for [:admin, @survey], :html => {:class => 'form-horizontal'} do |f| %>
      <%= f.input :name %>
      <%= f.simple_fields_for :survey_questions do |nest_form| %>
        <%= nest_form.input :title %>
        <%= nest_form.input :qtype, :collection => DataDict.qtypes, :include_blank => false  %>
	<%= nest_form.input :options %>
	<%= nest_form.input :position %>
        <div class="control-group">
          <%= nest_form.link_to_remove "删除", :class => "btn btn-small btn-warning ml180" %>
        </div>
      <% end -%>
      <%= f.link_to_add "添加问题", :survey_questions, :class => "btn ml180" %>
      <div class="form-actions">
        <%= f.submit '保存', :class => 'btn btn-small btn-primary' %>
      </div>
    <% end -%>
  </div>
</div>
<script type="text/javascript">
  $(document).ready( function() {
    add_index_to_fields();
  });
</script>
