<div class="box">
  <div class="cell">
    <div class="pull">
      <%= link_to '返回健康问卷管理', admin_surveys_path, :class => :btn %>
      <%= build_admin_navigation([@title]) %>
    </div>
  </div>
  <div class="cell">
    <%= simple_nested_form_for [:admin, @survey], :html => {:class => 'form-horizontal'} do |f| %>
      <%= f.input :name %>
      <%= f.input :desc, :input_html => {:rows => 5, :class => :span4} %>
      <table class="table table-bordered" id="questions">
        <tr>
          <th>标题</th>
          <th>类型</th>
          <th>选项</th>
          <th>排序</th>
          <th>操作</th>
        </tr>
        <%= f.fields_for :survey_questions, :wrapper => false do |nest_form| %>
          <tr>
            <td><%= nest_form.input_field :title %></td>
            <td><%= nest_form.input_field :qtype, :collection => DataDict.qtypes, :include_blank => false, :class => "qtype" %></td>
            <td><%= nest_form.input_field :options, :class => "h53" %></td>
            <td><%= nest_form.input_field :position, :class => "w55" %></td>
            <td><%= nest_form.link_to_remove "删除", :class => "btn btn-small btn-warning" %></td>
          </tr>
        <% end -%>
      </table>
      <%= f.link_to_add "添加问题", :survey_questions, :class => "btn btn-primary", :data => { :target => "#questions" }%>
      <div class="form-actions">
        <%= f.submit '保存', :class => 'btn btn-small btn-primary' %>
      </div>
    <% end -%>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    $('textarea').each(function(){textarea_auto_height(this);})
  });
</script>
