<div class="alert alert-info">
  <table class="table">
    <thead>
      <tr>
        <th>用户</th>
        <th>健康答卷</th>
        <th>状态</th>
      </tr>
    </thead>
    <tr>
      <td rowspan="<%= @survey_reply.survey_user.survey_user_sheets.size + 1 %>"><%= user_profile_link(@survey_reply.survey_user, :class => :black)%>（<%= @survey_reply.survey_user.email %>）
      </td>
    </tr>
    <% @survey_reply.survey_user.survey_user_sheets.each do |sheet| %>
      <tr>
        <td><%= link_to_blank sheet.survey.name, edit_survey_user_sheet_path(sheet) %>
        </td>
        <td><%= sheet.audit? ? label_tag_html("已通过", :title => "#{sheet.auditor_name}于#{sheet.audit_at}") : label_tag_html("待审核", :title => "#{sheet.auditor_name}于#{sheet.audit_at}", :style => "warning") %></td>
      </tr>
    <% end -%>
  </table>
</div>