<h3><%= @survey.name %></h3>
<%= @survey.titles.each do |q| %>
	<p><%= q.title %></p>
<% end -%>
<%= @survey.survey_questions.each_with_index do |index, q| %>
	<p><%= index + 1 %>、<%= survey_question_html(q) %></p>
<% end -%>